@import '@module';

.navigation {
	background: $colour-primary;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;

	.navigation-logo {
		width: 250px;
		min-height: 100px;
	}
}
