@import '@module';

.home {
	position: relative;
	min-height: calc(100vh - 100px - 40px);
	display: flex;
	align-items: center;
	justify-content: center;

	.home-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
	}
	.home-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $dsu 0;

		h1, p {
			color: $colour-white;
		}
	}
}
